<% if ((errorMsgs && errorMsgs.length) || (warningMsgs && warningMsgs.length) || (successMsgs && successMsgs.length) || (infoMsgs && infoMsgs.length)) { %>
    <div class="container-fluid content">
        <% if (errorMsgs) { %>
            <% errorMsgs.forEach((msg) => { %>
                <div class="alert alert-danger" role="alert"><%- msg %></div>
            <% }); %>
        <% } %>
        <% if (warningMsgs) { %>
            <% warningMsgs.forEach((msg) => { %>
                <div class="alert alert-warning" role="alert"><%- msg %></div>
            <% }); %>
        <% } %>
        <% if (successMsgs) { %>
            <% successMsgs.forEach((msg) => { %>
                <div class="alert alert-success" role="alert"><%- msg %></div>
            <% }); %>
        <% } %>
        <% if (infoMsgs) { %>
            <% infoMsgs.forEach((msg) => { %>
                <div class="alert alert-info" role="alert"><%- msg %></div>
            <% }); %>
        <% } %>
    </div>
<% } %>