<% if (user) { %>
<div class="row new-item-form">
    <div class="col-12 centered">
        <a href="/users/<%= user._id %>/friends/new" class="btn btn-primary" title="New Friend">
            <i class="fas fa-user-plus"></i>
        </a>
    </div>
</div>
<% } %>