<%- include("./partials/header") %>

    <h2 class="header-text">
        Helping you
        <br>
        enjoy your next meal
    </h2> 

    <a class="btn btn-block btn-primary" href="/restaurants">Restaurants</a></li>
    <% if (user) { %>
        <a class="btn btn-block btn-outline-primary bg-light" href="/users/<%= user._id %>">Friends</a>
        <a class="btn btn-block btn-outline-primary bg-light" href="/lists">Lists</a>
    <% } %>

    <%- include("./partials/recommendList") %>

<%- include("./partials/footer") %>