<%- include("./partials/header") %>

    <div class="row">
        <div class="col-2 centered">
            <a class="btn btn-outline-primary bg-light" href="/register" title="Login">
                <i class="fas fa-chevron-left"></i>
            </a>
        </div>
        <div class="col-10">
        </div>
    </div>

    <br>

    <div class="centered">
        <h2>Almost ready to eat...</h2>

        <hr class="spacer">

        <h4>Check your email and follow the link to confirm your account</h4>
        <h4>NOTE: the link will expire in one hour</h4>
    </div>

<%- include("./partials/footer") %>
