<%- include("./partials/header") %>

    <div class="centered">
        <h1>Sign up form</h1>

        <form class="new-item-form" action="/register" method="POST">
            <div class="row form-group centered">
                <div class="col-xs-8">
                    <input class="form-control" type="text" name="username" placeholder="Email" autofocus>
                </div>
            </div>
            <div class="row form-group centered">
                <div class="col-xs-8">
                    <input class="form-control" type="password" name="password" placeholder="password">
                </div>
            </div>
            <div class="row form-group centered">
                <div class="col-xs-8">
                    <input class="form-control" type="text" name="firstName" placeholder="First Name (optional)">
                </div>
            </div>
            <div class="row form-group centered">
                <div class="col-xs-8">
                    <input class="form-control" type="text" name="lastName" placeholder="Last Name (optional)">
                </div>
            </div>
            <div class="row form-group centered">
                <div class="col-xs-8">
                    <button class="form-control btn btn-primary float-right">Submit</button>
                </div>
            </div>
        </form>
    </div>

<%- include("./partials/footer") %>
